html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0;
  margin-right: auto;
  margin-left: auto;
}

.categoriesTitle {
  list-style: none;
}

.title {
  text-decoration: underline;
  color: red;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.gallery {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.gallery-img {
  width: 300px;
}

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
